@import url('https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:400,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

body {
  font-family: 'Barlow Semi Condensed', sans-serif;
  text-align: center;
  color: #262f33;
  font-size: 16px;
}

.wrapper {
  width: 512px;
  display: inline-block;
}

h1 {
  font-size: 32px;
}

.input {
  margin-bottom: 16px;
}

input {
  height: 16px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 14px;
  margin: 0px 8px 4px 8px;
  color: #262f33;
  padding: 6px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: border-color 0.2s;
}

input:focus {
  border-color: #1ba2fc;
}

input[type=number] {
  width: 48px;
}

button {
  margin-top: 8px;
  background-color: #ffffff;
  border: 1px solid #1ba2fc;
  padding: 8px 16px 8px 16px;
  color: #262f33;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 16px;
  border-radius: 4px;
  box-shadow: 0px 4px 8px rgba(9, 32, 48, 0.4);
  transition: box-shadow 0.2s, transform 0.2s, background-color 0.2s;
}

button:hover {
  box-shadow: 0px 8px 12px rgba(9, 32, 48, 0.4);
  transform: translateY(-2px);
  background-color: #efefef;
}

button:active {
  box-shadow: 0px 2px 4px rgba(9, 32, 48, 0.4);
  transform: translateY(0px);
  background-color: #dddddd;
}

.button-important {
  border: none;
  background-color: #0292f2;
  color: #ffffff;
}

.button-important:hover {
  background-color: #1ba2fc;
}

.button-important:active {
  background-color: #0292f2;
}

#advanced-config {
  margin-top: 16px;
  transition: max-height 0.3s;
  overflow: hidden;
}

.advanced-config-hidden {
  max-height: 0;
}

.advanced-config-visible {
  max-height: 102px;
}

.regexp {
  font-family: 'Roboto Mono', monospace;
  font-size: 12px;
  width: 256px;
}

textarea {
  width: 100%;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 4px;
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: #262f33;
  transition: border-color 0.2s;
}

textarea:focus {
  border-color: #1ba2fc;
}
